#!/bin/sh
#
#    00-header - create the header of the MOTD
#    Copyright (C) 2009-2010 Canonical Ltd.
#
#    Authors: Dustin Kirkland <kirkland@canonical.com>
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

[ -r /etc/lsb-release ] && . /etc/lsb-release

if [ -z "$DISTRIB_DESCRIPTION" ] && [ -x /usr/bin/lsb_release ]; then
        # Fall back to using the very slow lsb_release utility
        DISTRIB_DESCRIPTION=$(lsb_release -s -d)
fi

printf "    \n"
printf "  Welcome to %s {{ ansible_distribution_release }} ($(uname -m))\n" "$DISTRIB_DESCRIPTION"
printf "    FQDN:   {{ ansible_hostname }}{{ '.' + ansible_domain if ansible_domain is defined and ansible_domain != '' else '' }}\n"
printf "    Type:   {{ ansible_virtualization_type if ansible_virtualization_role == 'guest' else 'physical' }}\n"
{% if not ansible_virtualization_type == 'lxc' %}
printf "    Kernel: $(uname -sr)\n"
printf "    CPUs:   {{ ansible_processor_vcpus }} Core\n"
{% endif %}
printf "    RAM:    {{ (ansible_memtotal_mb / 1024) | round | int }} GB\n"
printf "    IPv4:   {{ ansible_default_ipv4.address }}\n"
{% if ansible_default_ipv6 is defined and ansible_default_ipv6 | length > 0 %}
printf "    IPv6:   {{ ansible_default_ipv6.address | default('-') }}\n"
{% endif %}
printf "  \n"
{% if host_description is defined and host_description | length > 0 %}
printf "  Description: {{ host_description }}\n"
printf "  \n"
{% endif %}
{% if host_responsible is defined and host_responsible | length > 0 %}
printf "  Responsible: {{ host_responsible }}\n"
printf "  \n"
{% endif %}
printf "  Last deployment: {{ ansible_date_time.date }} {{ ansible_date_time.time }} {{ ansible_date_time.tz }}\n"
printf "  System uptime: $(uptime -p)\n"
printf "  \n"
