{{ ansible_managed | comment }}

[users]
default-home = /home/%d/%U
default-shell = /bin/bash
[active-directory]
default-client = sssd
os-name = {{ ansible_distribution }} Server
os-version = {{ ansible_distribution_version }}
[service]
automatic-install = no
[domain.intra]
fully-qualified-names = no
automatic-id-mapping = yes
user-principal = yes
manage-system = no
computer-ou={{ ou_to_join_servers }}
