{{ ansible_managed | comment }}

auto lo
iface lo inet loopback

{% for iface in interfaces_config %}
auto {{ iface.name }}
iface {{ iface.name }} inet {{ iface.bootproto }}
{% if iface.address %}
    address {{ iface.address }}
{% endif %}
{% if iface.netmask %}
    netmask {{ iface.netmask }}
{% endif %}
{% if iface.gateway %}
    gateway {{ iface.gateway }}
{% endif %}
{% if iface.dns_nameservers %}
    dns-nameservers {{ iface.dns_nameservers | join(' ') }}
{% endif %}
{% if iface.macaddr %}
    hwaddress ether {{ iface.macaddr }}
{% endif %}
{% if iface.options %}
{% for option, value in iface.options.items() %}
    {{ option }} {{ value }}
{% endfor %}
{% endif %}
{% if iface.bridge_ports %}
    bridge_ports {{ iface.bridge_ports | join(' ') }}
{% endif %}
{% if iface.bond_slaves %}
    bond-slaves {{ iface.bond_slaves | join(' ') }}
{% endif %}
{% if iface.bond_options %}
{% for option, value in iface.bond_options.items() %}
    {{ option }} {{ value }}
{% endfor %}
{% endif %}

{% if iface.bootproto6 %}
iface {{ iface.name }} inet6 {{ iface.bootproto6 }}
{% if iface.address6 %}
    address {{ iface.address6 }}
{% endif %}
{% if iface.netmask6 %}
    netmask {{ iface.netmask6 }}
{% endif %}
{% if iface.gateway6 %}
    gateway {{ iface.gateway6 }}
{% endif %}
{% if iface.dns_nameservers6 %}
    dns-nameservers {{ iface.dns_nameservers6 | join(' ') }}
{% endif %}
{% if iface.options6 %}
{% for option, value in iface.options6.items() %}
    {{ option }} {{ value }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}

source /etc/network/interfaces.d/*