{{ ansible_managed | comment }}

myhostname               ={{ postfix_mta_hostname | default(ansible_hostname) }}
mydomain                 = {{ postfix_mta_domain | default(ansible_domain) }}
{% if postfix_mta_relayhost is defined and postfix_mta_relayhost != "" %}
relayhost                = {{ postfix_mta_relayhost }}
{% endif %}
mydestination            = $myhostname, $myhostname.$mydomain, localhost
inet_interfaces          = loopback-only
mynetworks               = 127.0.0.0/8
smtpd_banner             = $myhostname ESMTP $mail_name (Debian/GNU)
alias_maps               = hash:/etc/aliases
sender_canonical_classes = envelope_sender, header_sender
sender_canonical_maps    = regexp:/etc/postfix/sender_canonical
smtp_header_checks       = regexp:/etc/postfix/header_check